main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen1 {
    height: 90vh;
}

.homeImageText {
    font-size: 36px;
    font-weight: bold;
}
.homeImage:hover{
    transform: rotate3d(0, 3.0, 3.0, 360deg);
    transition: transform 1s;
}

label{
    font-family: 'Righteous', cursive;
    font-size:20px;
}
.decks{
    width: 50vw;
    margin-bottom:18px;
}
.decks select{
    width: 50vw;
    height: 7vh;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color:#ADADAD;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.zapGoals{
    width: 50vw;
    margin-bottom:35px;
}

.zapGoals input{
    width: 45vw;
    height: 5vh;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    color:#ADADAD;
    font-family: 'Roboto', sans-serif;
}

.startRecall {
    width: 50vw;
    height: 7vh;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 18px;
    color:#D70900;
    font-family: 'Recursive', cursive;
}

.homeBox {
    font-family: 'Righteous', cursive;
}