.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #fb6b6b;
  color: #ffffff;
  font-family: "Righteous", cursive;
}

.root {
  display: flex;
  justify-content: center;
}

