.questions {
    font-family: 'Recursive', sans-serif;
}

.questionsHeader {
    height: 10vh;
}

.questionsHeaderLogo img {
    height: 75%;
}

.questionsHeaderImg:hover {
    transform: rotate3d(0, 3.0, 3.0, 360deg);
    transition: transform 1s;
}

.questionsHeader {
    display: flex;
    justify-content: center;
    margin: 22px 0px 40px 0px;
}

.questionsHeaderText {
    margin: 3px 0px 0px 35px;
    font-size: 36px;
    font-weight: 400;
}

.questionStage1 {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
}

.questionStage1 p {
    margin-left: 20px;
}

ion-icon {
    font-size: 30px;
    margin-right: 15px;
}

.questionStage1 .hitIcon ion-icon {
    color: #2FBE34;
}

.questionStage1 .doubtIcon ion-icon {
    color: #FF922E;
}

.questionStage1 .errorIcon ion-icon {
    color: #FF3030;
}

.questionStage2 {
    width: 299px;
    height: 131px;
    background-color: #FFFFD4;
    color: #333333;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.questionStage3 {
    width: 299px;
    height: 131px;
    background-color: #FFFFD4;
    color: #333333;
    margin-bottom: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questionStage4 {
    width: 300px;
    height: 65px;
    background-color: #FFFFD4;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
}

.questionStage4 p {
    margin-left: 20px;
}

.questionTittle {
    margin: 12px 0px 0px 10px;
}

.container {
    position: relative;
}

.box {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.status {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
}

.dontRemember {
    width: 85px;
    height: 37px;
    background-color: #FF3030;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.almostDontRemember {
    width: 85px;
    height: 37px;
    background-color: #FF922E;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zap {
    width: 85px;
    height: 37px;
    background-color: #2FBE34;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.checkColor {
    color: #2FBE34;
    text-decoration: line-through;
}

.doubtColor {
    color: #FF922E;
    text-decoration: line-through;
}

.errorColor {
    color: #FF3030;
    text-decoration: line-through;
}
